body {
    background-color: #f8f9fa;
}
h1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    color: #333;
}
.galeri-img {
    cursor: pointer;
    transition: transform 0.3s,filter 0.3s, box-shadow 0.3s;
}
    .galeri-img:hover {
        transform: scale(1.05);
        filter: brightness(1.03);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }

